.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    margin: 0 auto;
    padding: 20px;
}
.section-top{
    position: relative;
    display: inline-block;
}
.section-top img{
    display: block;
    width: 100%;
    filter: brightness(0.8) contrast(0.64) ;
}
.text-over-img{
    position: absolute;
  top: 50%; 
  left: 30%; 
  width: 50%;
  transform: translate(-50%, -50%);
}
.text-over-img h4{
    color: white;
    font-size: 4vw;
    padding-left: 10px;
    border-left: 6px solid #FF772B;
    border-radius: 7px;
}
.text-over-img p{
    color: #e6e1e1;
    font-size: 1.4vw;
    font-weight: 300;
}
.button-holder1{
    width: 60%;
    padding: 10px 0 10px 0 ;
    display: flex;
    justify-content: space-between;
}
#btn-1,#btn-2{
    padding: 1vw 2vw;
    border-radius: 5px;
    font-size: 1vw;
}
#btn-1{
    background-color: #FF772B;
    border: none;
    font-weight: 600;
}
#btn-2{
    background: transparent;
    border: 1px solid white;
    color: white;
}
.section-mid{
    display: flex;
    width: 100%;
    margin: 40px 0;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
.section-mid-left{
    width: 50%;
    padding: auto;
}
.section-mid-left img{
    width: 35vw;
}
.section-mid-right-top h3{
    color: 1F1F1F;
    font-size: 3vw;
    font-weight: 400;
}
.section-mid-right-top p,.section-mid-right-bottom p{
    font-family: poppins;
    font-size: 1.5vw;
    word-spacing: 0.2;
    color: #666C89;
    padding: 10px 0;
}
.button-holder2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btn-3,#btn-4,#btn-5{
    width: 11vw;
    padding: 1vw 4px;
    border: none;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 400;
}
#btn-3{
    background-color: #FF772B;
}
hr{
    color: #666C89;
    height: 2px;
    background-color: #666C89;
    border-radius: 8px;
}
#btn-5{
    background-color: #2C374E;
    color: white;
}
.card-cont{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .section-mid{
        display: flex;
        flex-direction: column-reverse;
    }
    .card-cont{
        display: flex;
        flex-direction: column;
    }
    .button-holder2{
        justify-content: space-around;
    }
    .text-over-img h4{
        border-left: 4px solid #FF772B;
        border-radius: 4px;
    }
}