.styled-div {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 1301px; /* Keep a maximum width for larger screens */
  height: 374px; 
  border-radius: 43px;
  background: #2C374E;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Center the div horizontally */
  padding: 20px; /* Added padding for spacing */
}

.styled-div h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem; /* Adjusted for responsiveness */

  margin: 20px 0; /* Added margin for spacing */
}

.styled-div h4 {
  font-size: 2rem; /* Adjusted for responsiveness */
  color: #FF772B;
 
  margin-bottom: 20px; /* Added margin for spacing */
}

.InterviewImage {
  display: block;
  margin-left:  auto; 
  max-width: 100%; 
  margin-top: -100px;
  height: auto; /* Maintain aspect ratio */
  max-height: 339px; /* Adjusted for responsiveness */
}

.second-section-carrier-page {
  text-align: center;
  padding: 20px; /* Added padding for spacing */
}

.info-para-carrier {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 400px; /* Adjusted for responsiveness */
  margin: 0 auto; /* Center the paragraph */
  text-align: center;
}

@media (max-width: 768px) {
  .styled-div h2 {
    font-size: 2.5rem; /* Adjusted for smaller screens */
  }
  
  .styled-div h4 {
    font-size: 1.8rem; /* Adjusted for smaller screens */
  }

  .InterviewImage {
    max-width: 80%; /* Adjusted for smaller screens */
    max-height: 280px; /* Adjusted for smaller screens */
  }
}

@media (max-width: 576px) {
  .styled-div h2 {
    font-size: 2rem; /* Further adjustment for smaller screens */
  }
  
  .styled-div h4 {
    font-size: 1.5rem; /* Further adjustment for smaller screens */
  }
}
