.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; 
    margin: 0 auto;
    padding: 20px;
  }
  
  .left-container {
    flex: 2;
  }
  
  .left-container .text-container {
    width: 80%; 
  }
  
  .left-container h2 {
    line-height: 3;
    font-size: 36px;
  }
  
  .left-container p {
    font-size: 22px;
  }
  
  .right-container {
    position: relative;
    top: 25px;
    left: 100px;
    flex: 1;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column; /* Stack contact items vertically */
    align-items: flex-start;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .contact-item p{
    font-size: 18px;
  }
  
  .contact-item img {
    width: 60px; 
    height: 72px; 
    margin-right: 10px;
  }
  .loc-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loc-cont h4{
    padding: 30px;
    font-size: 40px;
    font-family: poppins,sans-serif;
  }
  