   .head-office-content-custom{
    display: flex !important; 
    justify-content: space-around !important;
  }

  .head-office-content{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
  }

  @media (max-width: 768px){
    .headoffice-custom{
      font-size: 15px;
    }

    .home-hero-overlay{
      font-size: 12px !important;
    }

    .home-hero-button{
      padding: 6px 20px !important; 
    }
  }


  