.c-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 50px 10px;
}
#counts{
    font-size: 5vw;
    font-weight: 700;
    background: -webkit-linear-gradient(#F9FD21, #FF772B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.c-card-body h4{
font-size: 2vw;
font-weight: 600;
padding: 10px 0;
}
#c-inf{
    font-size: 1.5vw;
    color: #67748E;
    font-weight: 400;
    padding: 5px 10px;
}
@media (max-width : 768px) {
    .c-card-body{
        padding: 10px;
    }
}